/.bash_history
/.bash_logout
/.bashrc
/.cache
/.dotnet
/.local
/.motd_shown
/.profile
/.sudo_as_admin_successful
/.vscode
/.vscode-server
/.wget-hsts
/5study
/study
homestudy/RinEZ/testing
homestudy/RinEZ/코딩용.c
homestudy/RinEZ/코딩용
.gitignore
